@import "../Variables/Variables.scss";

.container{
    width: 25%; 
   
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 10px $boxShodowColor; //use of variable of sass
    background: #ffffff;
    margin: auto;
    margin-top: 10%;
    border-top: 3px solid #23886f;
}
            
body{
    background-color: #ebeef4;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 0;
}

h1{
    padding-top: 1%;
}

form {
    width: 80%;
    margin-left: 8%;
}

form label {
    display: flex;
    margin-top: 5%;
    font-size: 120%;
}

.main1{
    font-weight: bold;
}

.input1{
    width: 100%;
    padding: 3%;
    border: none;
    border: 1px solid gray;
    outline: none;
    font-size:120%;
}
input.largerCheckbox {
    width: 20px;
    height: 20px;
}

input[type="submit"] {
    width: 106%;
    padding: 3%;
    margin-top: 5%;
    border: none;
    background-color: #23886f;
    color: white;
    font-size: 150%;
    cursor: pointer;
}
                
.bottom{
    text-align: center;
    padding-top: 5%;
    font-size: 100%;
    color: black;
    font-weight: bold;    
}

.bottom1{
    margin-top: 2%;
}

.bottom2{
    margin-top: 5%;
}

@media (max-width:780px){               //for mobile devices using media queries 
    .container{
        width: auto;                // adjusting width for small devices
    }

    form label {
        margin-top: 10%;
    }
    
    .bottom1{
        margin-top: 6%;
    }
}
